body { margin: 0; }

p {
    height: 20px;
}

#page_header { 
  background: rgb(240, 240, 240);   /* Blue */
  position: fixed;
  top:0; left:0;
  width: 100%;
  height: 40px;
  z-index: 1000;
}

#wolf_img {
    /*height: 100%;
    
    width: 20%;*/
  display:block;
    
}

.header_button {
  width: 19%;
  height: 100%;
  background-color: rgb(197,199,207);
  transition-duration: 0.1s;
  border-width: 2px;
  border-style: solid;
  border-color: black;
}

.header_button:hover {
    background-color: rgb(0,109,176); 
    color: white;
}

.datepicker {
    margin-bottom: 130px;
}