body { margin: 0; }

p {
  height: 5px;
}

#page_header { 
  background: rgb(44, 62, 80);
  position: fixed;
  top:0; left:0;
  width: 100%;
  height: 60px;
  z-index: 1000;
}

#wolf_img {
  display:block;
}

.header_button {
  width: 10%;
  height: 100%;
  background-color: rgb(44, 62, 80);
  color: white;
  transition-duration: 0.05s;
  border-width: 0px;
  border-radius: 7px;
  border-style: solid;
  /*border-color: rgb(197, 199, 207);*/
}

#balance_btn:hover {
    background-color: rgb(211, 84, 0);  /* orange */
    color: white;
}

#adj_exp_btn:hover {
    background-color: rgb(22, 160, 133);  /* turqoise */
    color: white;
}

#view_btn:hover {
    background-color: rgb(142, 68, 173);  /* purple */
    color: white;
}

#clear_btn:hover {
    background-color: rgb(211, 84, 0);
    color: white;
}

button:focus {outline:0;}

.datepicker {
    margin-bottom: 130px;
}