body { margin: 0; }

#page_header { 
  background: rgb(240, 240, 240);   /* Blue */
  position: fixed;
  top:0; left:0;
  width: 100%;
 }

button {
  width: 24.7%;
  transition-duration: 0.1s;
  border-width: 2px;
  border-style: solid;
  border-color: black;
  padding-right: 0px;
  padding-left: 0px;
}

button:hover {
    background-color: rgb(0,109,176); 
    color: white;
}